

/*background colors*/

.bg-grey1{
	background-color: #F0F0F0; 
}

.bg-grey2{
	background-color: #E0E0E0;
}

.bg-grey3{
	background-color: #C0C0C0; 
}

.bg-grey4{
	background-color: #A0A0A0;
}

/*text colors*/

.blue{
	color: blue;
}