
html {
    font-family: sans-serif;
}

body{
  margin: 0;
}

.img-flex{
  width: 100%;
  display: block;
}


a:link{
  color: blue;
}

a:hover{
  color: #fff;
}

a:visited{
  color: inherit;
}

ol li:hover{
  background-color: blue;
  color: #fff;
}


.4-grey{
  background-color: #989898;  
}
/*  nav  */

nav{
  text-align: center;
}

.foot-nav{
  text-align: left;
  color: blue;
}

.foot-nav ol li{
  display: inline;
}

@media only screen and (min-width: 38em){

  nav{
    text-align: left;
  }

}

/*  lists   */
ol{
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
  width: 100%;
}

dd{
  font-size: 1.1250rem;
  line-height: 1.2444;
}

@media only screen and (min-width: 25em){

  li{
    display: inline-block;
  }
}

/*  headings   */

h1{
  text-align: center;
}

@media only screen and (min-width: 38em){
  h1{
    text-align: left;
  }
}

