
html {
    font-family: sans-serif;
}

body{
  margin: 0;
}


/*  nav  */

header a{
  color: blue;
}

header a:hover{
  color: #fff;
}

header ol li:hover{
  background-color: blue;
  color: #fff;
}

nav{
  text-align: center;
}

.foot-nav{
  text-align: left;
  color: blue;
}

.foot-nav ol li{
  display: inline;
}

@media only screen and (min-width: 38em){

  nav{
    text-align: left;
  }

}

/*  lists   */


a{
  text-decoration: none;
  width: 100%;
}


@media only screen and (min-width: 25em){

  li{
    display: inline-block;
  }
}

/*  headings   */

h1{
  text-align: center;
}

@media only screen and (min-width: 38em){
  h1{
    text-align: left;
  }
}

